$font-size-1: 0.75em;
$font-size-2: 0.75em;
$font-size-3: 1em;
$font-size-4: 1.5em;
$font-size-5: 3em;

$section-margin: 1rem 0;

section {
    margin: $section-margin;
}

.heading {

    .name {
        font-size: $font-size-5;
    }

    .subtitle {
        font-size: $font-size-1;
    }
}